{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.tags.label }}
            {{ form.tags(rows=3, multiple=True) }}
        </div>

        <fieldset class="form-group">
            <h1>Bootstrap Markdown DEMO</h1>
            <textarea id="comment-md" name="comment" placeholder="Say something..."></textarea>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <!-- Markup Preview -->
        <div id="comment-md-preview-container">
            <div class="well well-sm well-light md-preview margin-top-10" id="comment-md-preview"></div>
        </div>
    </form>
</div>
{% endblock content %}